<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragmentos :: cabecalho('Atualizar moto')}" />
    <body>
        <main>
            <header
                style="
                    display: grid;
                    grid-template-columns: 1fr auto;
                    align-items: center;
                "
            >
                <h2>Atualizar Moto</h2>
                <a th:href="@{/login/index}" role="button">Voltar</a>
            </header>

            <form
                th:action="@{/view/moto/{idMoto}(idMoto = ${moto.idMoto})}"
                id="form"
                th:object="${moto}"
                method="post"
            >
                <label for="identificador">
                    Identificador
                    <input
                        type="text"
                        th:value="${moto.identificador}"
                        id="identificador"
                        th:field="*{identificador}"
                        maxlength="50"
                        required
                    />
                </label>

                <label for="status">
                    Status
                    <input
                        type="text"
                        th:value="${moto.status}"
                        id="status"
                        th:field="*{status}"
                        maxlength="50"
                        required
                    />
                </label>

                <label for="condicoesManutencao">
                    Condições de Manutenção
                    <input
                        type="text"
                        th:value="${moto.condicoesManutencao}"
                        id="condicoesManutencao"
                        th:field="*{condicoesManutencao}"
                        maxlength="200"
                        required
                    />
                </label>

                <label for="idTipoMoto">
                    Tipo da Moto
                    <select
                        th:value="${moto.idTipoMoto.nmTipo}"
                        id="idTipoMoto"
                        th:field="*{idTipoMoto}"
                        required
                    >
                        <option
                            th:each="tipo : ${tiposMoto}"
                            th:value="${tipo.id_tipo_moto}"
                            th:text="${tipo.nmTipo}"
                        ></option>
                    </select>
                </label>

                <label for="idSecaoFilial">
                    Seção/Filial
                    <select
                        id="idSecaoFilial"
                        th:value="${moto.idSecaoFilial.idTipoSecao.nmSecao}"
                        th:field="*{idSecaoFilial}"
                        required
                    >
                        <option
                            th:each="secao : ${secoesFilial}"
                            th:value="${secao.idTipoSecao.idTipoSecao}"
                            th:text="${secao.idTipoSecao.nmSecao}"
                        ></option>
                    </select>
                </label>

                <button type="submit">Editar</button>
            </form>
        </main>
    </body>
</html>
