<head th:fragment="cabecalho(titulo)">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.jade.min.css"
    />
    <title th:text="${titulo}"></title>
</head>

<form th:fragment="form-logout" th:action="@{/logout}" method="post">
    <button type="submit" th:text="#{common.logout}">Sair</button>
</form>

<div th:fragment="language-selector">
    <details role="list">
        <summary aria-haspopup="listbox" th:text="#{language.select}">Selecionar Idioma</summary>
        <ul role="listbox">
            <li><a th:href="@{''(lang=pt)}" th:text="#{language.portuguese}">Português</a></li>
            <li><a th:href="@{''(lang=en)}" th:text="#{language.english}">English</a></li>
            <li><a th:href="@{''(lang=es)}" th:text="#{language.spanish}">Español</a></li>
        </ul>
    </details>
</div>
