<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragmentos :: cabecalho('Atualizar Qrcode')}" />
    <body>
        <style th:replace="~{fragmentos :: footer-styles}"></style>
        <main>
            <div th:replace="~{fragmentos :: logo}" />
            <header
                style="
                    display: grid;
                    grid-template-columns: 1fr auto;
                    align-items: center;
                "
            >
                <h2>Atualizar Qrcode</h2>
                <a th:href="@{/login/index}" role="button">Voltar</a>
            </header>

            <form
                th:action="@{/view/qrcode/editar/{idQrcode}(idQrcode = ${qrcode.idQrcode})}"
                th:object="${qrcode}"
                method="post"
            >
                <label for="vlQrcode">
                    Valor Qrcode <mark>*</mark>
                    <input
                        type="text"
                        th:value="${qrcode.vlQrcode}"
                        id="vlQrcode"
                        th:field="*{vlQrcode}"
                        maxlength="100"
                        required
                        placeholder="Digite o valor do Qrcode"
                    />
                    <small>Máximo de 100 caracteres</small>
                </label>

                <label for="idMoto">
                    Moto Associada
                    <select id="idMoto" th:field="*{idMoto}">
                        <option value="">Nenhuma moto associada</option>
                        <option
                            th:each="moto : ${motos}"
                            th:value="${moto.idMoto}"
                            th:text="${moto.identificador}"
                            th:selected="${qrcode.idMoto != null and qrcode.idMoto.idMoto == moto.idMoto}"
                        ></option>
                    </select>
                    <small>Selecione uma moto ou deixe em branco</small>
                </label>

                <button type="submit">Atualizar Qrcode</button>
            </form>
            <div th:replace="~{fragmentos :: rodape}"></div>

        </main>
    </body>
</html>
