<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragmentos :: cabecalho('Lista Qrcodes')}" />

    <body>
        <main>
            <nav>
                <ul>
                    <li><strong>Lista de Qrcodes</strong></li>
                </ul>
                <ul>
                    <li>
                        <a
                            th:href="@{/view/filial/{idFilial}(idFilial = ${filial.idFilial})}"
                            >Filial</a
                        >
                    </li>
                    <li>
                        <a th:href="@{/login/index}">Voltar para Motos</a>
                    </li>
                </ul>
            </nav>

            <h1>Lista de Qrcodes</h1>

            <table>
                <thead>
                    <tr>
                        <th scope="col">ID Qrcode</th>
                        <th scope="col">Valor Qrcode</th>
                        <th scope="col">Moto Associada</th>
                        <th scope="col">Identificador da Moto</th>
                        <th scope="col">Status da Moto</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Remover</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="qrcode : ${qrcodes}">
                        <th scope="row" th:text="${qrcode.idQrcode}">A</th>
                        <td th:text="${qrcode.vlQrcode}">B</td>
                        <td
                            th:text="${qrcode.moto != null ? qrcode.moto.idMoto : 'Sem Moto'}"
                        >
                            C
                        </td>
                        <td
                            th:text="${qrcode.moto != null ? qrcode.moto.identificador : 'N/A'}"
                        >
                            D
                        </td>
                        <td
                            th:text="${qrcode.moto != null ? qrcode.moto.status : 'N/A'}"
                        >
                            E
                        </td>
                        <td>
                            <a
                                th:href="@{/view/qrcode/editar/{idQrcode}(idQrcode = ${qrcode.idQrcode})}"
                                >Editar</a
                            >
                        </td>
                        <td>
                            <a
                                th:href="@{/view/qrcode/remover/{idQrcode}(idQrcode = ${qrcode.idQrcode})}"
                                >Remover</a
                            >
                        </td>
                    </tr>
                </tbody>
            </table>

            <p>
                <a
                    th:href="@{/view/qrcode/novo/{idFilial}(idFilial = ${filial.idFilial})}"
                    >Cadastrar um Novo Qrcode</a
                >
            </p>
        </main>
    </body>
</html>
