<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragmentos :: cabecalho(#{qrcode.title})}" />

    <body>
        <main>
            <nav>
                <ul>
                    <li><strong th:text="#{qrcode.header}">Lista de Qrcodes</strong></li>
                </ul>
                <ul>
                    <li>
                        <div th:replace="~{fragmentos :: language-selector}" />
                    </li>
                    <li>
                        <a
                            th:href="@{/view/filial/{idFilial}(idFilial = ${filial.idFilial})}"
                            th:text="#{nav.filial}"
                            >Filial</a
                        >
                    </li>
                    <li>
                        <a th:href="@{/login/index}" th:text="#{qrcode.back}">Voltar para Motos</a>
                    </li>
                    <li>
                        <form th:replace="~{fragmentos :: form-logout}" />
                    </li>
                </ul>
            </nav>

            <h1 th:text="#{qrcode.header}">Lista de Qrcodes</h1>

            <table>
                <thead>
                    <tr>
                        <th scope="col" th:text="#{qrcode.table.id}">ID Qrcode</th>
                        <th scope="col" th:text="#{qrcode.table.valor}">Valor Qrcode</th>
                        <th scope="col" th:text="#{qrcode.table.moto}">Moto Associada</th>
                        <th scope="col" th:text="#{qrcode.table.identificador}">Identificador da Moto</th>
                        <th scope="col" th:text="#{qrcode.table.status}">Status da Moto</th>
                        <th scope="col" th:text="#{qrcode.table.editar}">Editar</th>
                        <th scope="col" th:text="#{qrcode.table.remover}">Remover</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="qrcode : ${qrcodes}">
                        <th scope="row" th:text="${qrcode.idQrcode}">A</th>
                        <td th:text="${qrcode.vlQrcode}">B</td>
                        <td
                            th:text="${qrcode.moto != null ? qrcode.moto.idMoto : #{qrcode.no.moto}}"
                        >
                            C
                        </td>
                        <td
                            th:text="${qrcode.moto != null ? qrcode.moto.identificador : 'N/A'}"
                        >
                            D
                        </td>
                        <td
                            th:text="${qrcode.moto != null ? qrcode.moto.status : 'N/A'}"
                        >
                            E
                        </td>
                        <td>
                            <a
                                th:href="@{/view/qrcode/editar/{idQrcode}(idQrcode = ${qrcode.idQrcode})}"
                                th:text="#{qrcode.table.editar}"
                                >Editar</a
                            >
                        </td>
                        <td>
                            <a
                                th:href="@{/view/qrcode/remover/{idQrcode}(idQrcode = ${qrcode.idQrcode})}"
                                th:text="#{qrcode.table.remover}"
                                >Remover</a
                            >
                        </td>
                    </tr>
                </tbody>
            </table>

            <p>
                <a
                    th:href="@{/view/qrcode/novo/{idFilial}(idFilial = ${filial.idFilial})}"
                    th:text="#{qrcode.action.create}"
                    >Cadastrar um Novo Qrcode</a
                >
            </p>
        </main>
    </body>
</html>
