<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragmentos :: cabecalho('Lista motos')}" />

    <body>
        <main>
            <nav>
                <ul>
                    <li><strong>Lista de motos</strong></li>
                </ul>
                <ul>
                    <li>
                        <a
                            th:href="@{/view/filial/{idFilial}(idFilial = ${idFilial})}"
                            >Filial</a
                        >
                    </li>
                    <li>
                        <a
                            th:href="@{/view/qrcode/{idFilial}(idFilial = ${idFilial})}"
                            >Identificadores</a
                        >
                    </li>
                    <li>
                        <form th:replace="~{fragmentos :: form-logout}" />
                    </li>
                </ul>
            </nav>

            <h1>Lista de motos</h1>

            <table>
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Identificador</th>
                        <th scope="col">Status</th>
                        <th scope="col">Condições de Manutenção</th>
                        <th scope="col">Tipo Moto</th>
                        <th scope="col">Seção/Filial</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Remover</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="moto : ${motos}">
                        <th scope="row" th:text="${moto.idMoto}">A</th>
                        <td th:text="${moto.identificador}">B</td>
                        <td th:text="${moto.status}">C</td>
                        <td th:text="${moto.condicoesManutencao}">D</td>
                        <td
                            th:text="${moto.idTipoMoto != null ? moto.idTipoMoto.nmTipo : 'N/A'}"
                        >
                            E
                        </td>
                        <td
                            th:text="${moto.idSecaoFilial != null ? moto.idSecaoFilial.idTipoSecao.nmSecao : 'N/A'}"
                        >
                            F
                        </td>
                        <td>
                            <a
                                th:href="@{/view/moto/editar/{idMoto}(idMoto = ${moto.idMoto})}"
                                >Editar</a
                            >
                        </td>
                        <td>
                            <a
                                th:href="@{/view/moto/remover/{idMoto}(idMoto = ${moto.idMoto})}"
                                >Remover</a
                            >
                        </td>
                    </tr>
                </tbody>
            </table>

            <p>
                <a href="/view/moto/nova">Cadastrar uma Nova moto</a>
            </p>
        </main>
    </body>
</html>
